.background {
	background: rgb(73,7,31);
	background: -moz-linear-gradient(90deg, rgba(73,7,31,1) 0%, rgba(232,72,130,1) 50%, rgba(73,7,31,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(73,7,31,1) 0%, rgba(232,72,130,1) 50%, rgba(73,7,31,1) 100%);
	background: linear-gradient(90deg, rgba(73,7,31,1) 0%, rgba(232,72,130,1) 50%, rgba(73,7,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#49071f",endColorstr="#49071f",GradientType=1);
}

.logo {
	background-image: url(../images/logo.png);
}

.progressBar {
	background-color: rgb(232,72,130);
} font-size: 6em;

/*.splash {
	background-image: url(../images/splash.png);
}*/

/*.watermark {
	background-image: url(../images/watermark.png);
	background-size: 57px 57px;
}*/
body {
  background: white;
  color: black;
}

#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content {
  font-family: 'Roboto', sans-serif;
 