font-size: 6em;
.background {
	background: rgb(73,7,31);
	background: -moz-linear-gradient(90deg, rgba(73,7,31,1) 0%, rgba(232,72,130,1) 50%, rgba(73,7,31,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(73,7,31,1) 0%, rgba(232,72,130,1) 50%, rgba(73,7,31,1) 100%);
	background: linear-gradient(90deg, rgba(73,7,31,1) 0%, rgba(232,72,130,1) 50%, rgba(73,7,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#49071f",endColorstr="#49071f",GradientType=1);
}

.logo {
	background-image: url(../images/logo.png);
}

.progressBar {
	background-color: rgb(232,72,130);
}
body {
  background: white;
  color: black;
}